<article class="card">
<!--<id>
    <nombre>
    <precio>
    <descripcion>
    <estado>
    <cantidad>
    <imagen>
    <fecha>
    -->

    <img 
        class="img" 
        [src]="'/' + (product.imagen || 'no-image.jpg')" 
        [alt]="product.nombre"
    />

    <div class="body">
        <div class="top">
            <h3 class="title">{{ product.nombre }}</h3>
            <span class="price">
                {{ product.precio | currency:'MXN' }}
            </span>
        </div>

        <p class="meta">Cantidad disponible: {{ product.cantidad }}</p>
        <p class="desc">{{ product.descripcion }}</p>

        <p 
            class="stock" 
            [class.out]="product.estado !== 'Disponible'"
        >
            @if (product.estado === 'Disponible') {
                Disponible
            } @else {
                Agotado
            }
        </p>

        <!-- CONTROL DE CANTIDAD -->
        <div class="qty-control">

        <button (click)="decrease()">-</button>

        <input 
            type="number"
            [value]="cantidad"
            (input)="onInputChange($event)"
            min="1"
        />

        <button (click)="increase()">+</button>

        </div>

        <button class="btn"
            (click)="addToCart()"
            [disabled]="product.cantidad == 0">

            Agregar al carrito

        </button>
    </div>
</article>