<div class="cart-container">

  <!-- 🛒 BOTÓN -->
  <button class="cart-button" (click)="toggle()">
    🛒 {{ carrito.getCount() }}
  </button>

  <!-- 📦 PANEL -->
  @if(open()){

  <div class="cart-panel">

    <h3>Tu carrito 💖</h3>

    @if(carrito.items().length === 0){
      <p>Tu carrito está vacío</p>
    } @else {

      @for(item of carrito.items(); track item.product.idProducto){

      <div class="item">
        <span>{{item.product.nombre}}</span>

        <span>
          {{item.cantidad}} x {{item.product.precio | currency:'MXN'}}
        </span>
      </div>

      }

      <hr>

      <p class="total">
        Total: {{ carrito.total() | currency:'MXN' }}
      </p>

      <!-- 💖 BOTÓN BONITO -->
      <button class="go-cart-btn" routerLink="/carrito" (click)="toggle()">
        Ver carrito completo 🛒
      </button>

    }

  </div>

  }

</div>