.cart-container{
  position:relative;

  z-index:1000;
}

/*  BOTÓN */
.cart-button{
  background:linear-gradient(135deg, #ff9ecf, #ff6fb5);

  border:none;
  padding:12px 18px;
  border-radius:20px;
  cursor:pointer;

  color:white;
  font-size:16px;
  font-weight:bold;

  box-shadow:0 5px 15px rgba(0,0,0,.2);

  transition:all 0.2s ease;
}

.cart-button:hover{
  transform:scale(1.05);
}

/* PANEL */
.cart-panel{
  position:absolute;
  right:0;
  top:55px;
  background:white;
  padding:15px;
  width:260px;
  border-radius:15px;
  box-shadow:0 10px 30px rgba(0,0,0,.2);
}

/* ITEM */
.item{
  display:flex;
  justify-content:space-between;
  margin-bottom:8px;
}

/* TOTAL */
.total{
  font-weight:bold;
  color:#d63384;
}

/* BOTÓN IR */
.go-cart-btn{
  width:100%;
  margin-top:10px;

  background: linear-gradient(135deg, #ff9ecf, #ff6fb5);
  border: none;
  color: white;

  padding: 10px;
  border-radius: 12px;

  font-weight: bold;
  cursor: pointer;

  transition: all 0.2s ease;
}

.go-cart-btn:hover{
  transform: scale(1.05);

  background: linear-gradient(135deg, #ff6fb5, #d63384);

  box-shadow: 0 4px 12px rgba(255, 111, 181, 0.4);
}


.total-box{
  margin-top:10px;
  padding-top:10px;
  border-top:1px solid #eee;
}

.total-box p{
  font-size:13px;
  margin:3px 0;
}

.total-box .total{
  font-weight:bold;
  color:#d63384;
}